<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>login</title>
    <script src="../static/js/login.js" rel="script" type="text/javascript"></script>
</head>

<body>
<div style="text-align: center">
    <div>
        <h1>Login</h1>
    </div>

    <div>
        <form id="form_login" action="./login" method="post">
            <div>
                <label for="input_username">username:</label>
                <input id="input_username" type="text" name="username" placeholder="username">
            </div>
            <br>

            <div>
                <label for="input_password">password:</label>
                <input id="input_password" type="password" name="password" placeholder="password">
            </div>
            <br>

            <p id="hidden" style="display: none" th:text="${error}"></p>
        </form>
    </div>

    <div>
        <input id="button_login" type="button" value="Login" style="margin-right: 30px">
        <a href="./register"><input id="button_register" type="button" value="Register"></a>
    </div>

</div>
</body>

</html>